[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
pyyaml = "*"
uvloop = {version = "*",os_name = "== 'posix'"}
discord-py = {extras = ["voice"],version = "*"}
mutagen = "*"
psutil = "*"
youtube-dl = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python -m bot"
