[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
websockets = "==6.0"
pyyaml = "*"
uvloop = {version = "*",os_name = "== 'posix'"}
discord-py = {extras = ["voice"],version = "*"}
discord-ext-menu = {git = "https://github.com/Rapptz/discord-ext-menus.git",version = "*"}
mutagen = "*"
psutil = "*"
fuzzywuzzy = "*"
wavelink = "*"
python-levenshtein = "*"

[scripts]
start = "python -m bot"
